{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif"/>
    <link rel="stylesheet" type="text/css" href="/static/team-v2.css">
{% endblock %}

{% block body %}
    <span class="topline smaller">Retromat Team Login</span>

    <div class="mainContent">
        <h1>Welcome!</h1>


        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('team_dashboard') }}">Dashboard</a> |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% endif %}

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {% block fos_user_content %}
            {{ include('@FOSUser/Security/login_content.html.twig') }}
        {% endblock fos_user_content %}
    </div>
{% endblock body %}
