{% extends 'base.html.twig' %}

{% block title %}Retromat Team Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif"/>
    <link rel="stylesheet" type="text/css" href="/static/team-v2.css">
{% endblock %}

{% block body %}
    <span class="topline smaller"><a href="{{ path('fos_user_security_logout') }}">&lt; Logout</a></span>

    <div class="mainContent">
        <h1>Dashboard</h1>
        <h2>Welcome {{ app.user.username|title }} :-)</h2>

        {% if is_granted('ROLE_TRANSLATOR') %}
            <h2>Content Tools</h2>
            <ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>Activity Editor
                        <ul>
                            <li><a href="{{ path('team_activity_index', {'_locale': 'en'}) }}">en</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li>Activity Translation Editor
                    <ul>
                        {% for locale in ['de', 'es', 'fr', 'nl', 'pt-br', 'ru'] %}
                            {% if is_granted('ROLE_TRANSLATOR_'~locale|upper) %}
                                <li><a href="{{ path('team_activity_index', {'_locale': locale}) }}">{{ locale }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        {% endif %}

        <h2>Your Profile</h2>
        <ul>
            <li><a href="{{ path('fos_user_profile_show') }}">Show profile</a></li>
            <li><a href="{{ path('fos_user_profile_edit') }}">Edit profile</a></li>
            <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
        </ul>

        {% if is_granted('ROLE_ADMIN') %}
            <h2>Admin: Tools: Internal</h2>
            <ul>
                <li><a href="/app_dev.php">Debug Controller</a></li>
                <li><a href="https://plans-for-retrospectives.com/commit.txt">Commit Hash</a> of current <a
                            href="{{ path('activities_by_id') }}">live Retromat</a></li>
            </ul>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <h2>Admin: Tools: External</h2>
            <ul>
                <li>Collaboation
                    <ul>
                        <li><a href="https://github.com/findingmarbles/Retromat">Github Repo</a></li>
                        <li><a href="https://drive.google.com/drive/u/0/folders/0B6hEusnRormEdVlBZXQ5dnRmQUk">Google
                                Drive
                                Folder</a></li>
                        <li><a href="https://trello.com/b/xZgU7IFd/retromat">Trello Board</a></li>
                    </ul>
                </li>
                <li>Deployment
                    <ul>
                        <li><a href="https://travis-ci.org/findingmarbles/Retromat">Travis-CI Dashboard</a></li>
                    </ul>
                </li>
                <li>Uberspace
                    <ul>
                        <li><a href="https://stats.avior.uberspace.de/retromat/">Traffic Stats</a></li>
                        <li><a href="https://uberspace.de/dashboard/datasheet">Quota (Disk + Database)</a></li>
                    </ul>
                </li>
                <li>Analytics
                    <ul>
                        <li><a href="https://plans-for-retrospectives.com/piwik/index.php">Piwik (current)</a></li>
                        <li><a href="http://finding-marbles.com/piwik/">Piwik (historic)</a></li>
                    </ul>
                </li>
                <li>Webmaster Tools
                    <ul>
                        <li><a href="https://www.google.com/webmasters/tools/home?hl=en">Google Search Console</a>
                        <li><a href="https://www.bing.com/webmaster/home/dashboard">Bing Webmaster Tools</a></li>
                        <li><a href="https://webmaster.yandex.com/">Yandex Webmaster Tools</a></li>
                    </ul>
                </li>
                <li>Research
                    <ul>
                        <li><a href="https://adwords.google.com/">Adwords (Keyword Research)</a></li>
                    </ul>
                </li>
            </ul>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <h2>Admin: Experiments: Internal</h2>
            <ul>
                <li>SERP Preview
                    <ul>
                        <li>
                            <a href="{{ path('titles-descriptions-experiment', {_locale: 'en', skip: 0, max: 100}) }}">en</a>
                        </li>
                        <li>
                            <a href="{{ path('titles-descriptions-experiment', {_locale: 'de', skip: 0, max: 100}) }}">de</a>
                        </li>
                    </ul>
                </li>
                <li><a href="{{ path('cache-counter-experiment') }}">Cache Counter Experiment</a></li>
            </ul>
        {% endif %}
    </div>
{% endblock %}