{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/static/team-v2.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif"/>
{% endblock %}

{% block title %}List of Activities{% endblock %}

{% block body %}
    <span class="topline smaller"><a href="{{ path('team_dashboard', {'_locale': 'en'}) }}">&lt; Dashboard</a></span>

    <div class="mainContent">

        <h1>
            {% if 'en' == app.request.locale %}
                Activity List
            {% else %}
                Activity Translations List: {{ app.request.locale|upper }}
            {% endif %}
        </h1>

        <ul>
            <li>
                <a href="{{ path('team_activity_new') }}">Create new activity
                    {% if 'en' != app.request.locale %} translation{% endif %}</a>
            </li>
            <li>
                <a href="{{ path('team_activity_delete_confirm') }}">Delete last activity
                    {% if 'en' != app.request.locale %} translation{% endif %}</a>
            </li>
        </ul>
        <table class="activities">
            <thead>
            <tr align="left">
                <th>Id</th>
                <th style="width: 150px;">Actions</th>
                <th>Name</th>
                <th>Summary</th>
            </tr>
            </thead>
            <tbody>
            {% for activity2 in activity2s|reverse %}
                <tr>
                    <td align="right">{{ activity2.retromatId }}</td>
                    <td>
                        <a href="{{ path('team_activity_edit', { 'id': activity2.id }) }}">edit</a> |
                        <a href="{{ path('team_activity_show', { 'id': activity2.id }) }}">preview</a> |
                        <a href="{{ path('activities_by_id', { 'id': activity2.retromatId }) }}"
                           target="_blank">live</a>
                    </td>
                    <td>{{ activity2.getName }}</td>
                    <td>{{ activity2.getSummary }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
