    <div class="js_activity_block bg{{ color_variation.nextColor() }}">
        <div class="content">
            <div class="activity">
                <div class="js_phase-stepper phase-stepper {% if phase is not null %} hidden{% endif %}">
                    <a href="?id={{ activity_by_phase.previousIds(ids, activity.getRetromatId, activity.getPhase)|join('-') }}"
                       title="Previous" class="js_prev_button">&#9668;
                    </a>
                </div>
                <div class="activity_content">
                    <div class="js_phase_title phase_title">
                        <a href="?id={{ activity_by_phase.getActivitiesString(activity.getPhase) }}&phase={{ activity.getPhase }}" class="js_fill_phase_link">
                            <span class="js_fill_phase_title">{{ ('phase_title_'~activity.phase) | trans }}</span>
                        </a>
                    </div>

                    <div class="js_item">
                        <h2 class="font-serif">
                            <span class="js_fill_name">{{ activity.getName | raw }}</span>
                            <span class="activity_id_wrapper">
                                    (<a class="js_fill_activity_link" href="?id={{ activity.getRetromatId }}">#<span class="js_fill_id">{{ activity.getRetromatId }}</span></a>)
                            </span>
                        </h2>
                        <div class="summary">
                            <span class="js_fill_summary">{{ activity.getSummary | raw }}</span>
                            <br>
                             <span class="source">Source: 
                                <span class="js_fill_source">{{ activity.getSource|raw }}</span>
                             </span>
                        </div>
                        <div class="description">
                            <span class="js_fill_description">{{ activity.getDesc | raw }}</span>
                        </div>
                    </div><!-- END js_item -->



                    <div class="js_photo_link photo_link">
                        <span class="js_fill_photo-link"></span>
                    </div><!-- END .js_photo_link -->
                </div>
                <div class="js_phase-stepper phase-stepper {% if phase is not null %} hidden{% endif %}">
                    <a href="?id={{ activity_by_phase.nextIds(ids, activity.getRetromatId, activity.getPhase)|join('-') }}"
                       title="Next" class="js_next_button">&#9658;
                    </a>
                </div>
            </div>
        </div>
    </div>

