<div class="js_plan">
    {% for activity in activities %}
    <div class="js_activity_block activity_block bg{{ color_variation.nextColor() }} js_activity105 js_activity106 js_activity107 js_activity113 js_activity121 js_activity0 js_activity1 js_activity2 js_activity17 js_activity21 js_activity30 js_activity31 js_activity35 js_activity41 js_activity42 js_activity45">
        <div class="activity-wrapper">
            <a href="JavaScript:Previous" class="js_phase-stepper phase-stepper js_prev_button display_table-cell"
               title="Show other activity for this phase">◄</a>
            <div class="activity-content">
                <div class="js_phase_title phase_title">
                    <a href="?id=1-2-3-18-22-31-32-36-42-43-46-52-59-70-76-81-82-84-85-90-106-107-108-114-122&amp;phase=0"
                       class="js_fill_phase_link">
                        <span class="js_fill_phase_title">{{ ('phase_title_'~activity.phase) | trans }}</span>
                    </a>
                </div>
                <div class="js_item">
                    <h2><span class="js_fill_name">{{ activity.name | raw }}</span>
                        <span class="activity_id_wrapper">
                            (<a class="js_fill_activity_link" href="?id={{ activity.retromatId }}">#<span class="js_fill_id">{{ activity.retromatId }}</span></a>)
                    </span>
                    </h2>
                    <div class="summary">
                        <span class="js_fill_summary">{{ activity.summary }}</span>
                        <br>
                        {# probaly need move this to a separate templete or macro or the database later #}
                        <span class="source">Source:                            <span class="js_fill_source">{{ activity.source  | replace({' + "': ''}) | replace({'" + ': ''}) | replace({'"':''}) | replace ({
                                    "source_agileRetrospectives": '<a href="http://www.amazon.com/Agile-Retrospectives-Making-Teams-Great/dp/0977616649/">Agile Retrospectives<\/a>',
                                    "source_findingMarbles": '<a href="http://www.finding-marbles.com/">Corinna Baldauf<\/a>',
                                    "source_kalnin": '<a href="http://vinylbaustein.net/tag/retrospective/">Thorsten Kalnin<\/a>',
                                    "source_innovationGames": '<a href="http://www.amazon.com/Innovation-Games-Creating-Breakthrough-Collaborative/dp/0321437292/">Luke Hohmann<\/a>',
                                    "source_facilitatorsGuide": '<a href="http://www.amazon.de/Facilitators-Participatory-Decision-Making-Jossey-Bass-Management/dp/0787982660/">Facilitator\'s Guide to Participatory Decision-Making<\/a>',
                                    "source_skycoach": '<a href="http://skycoach.be/ss/">Nick Oostvogels</a>',
                                    "source_judith": '<a href="https://leanpub.com/ErfolgreicheRetrospektiven">Judith Andresen</a>',
                                    "source_unknown": 'Unknown',
                                }) | raw }}</span>
                        </span>
                    </div><!-- END summary -->
                    <div class="description">
                        <span class="js_fill_description">{{ activity.desc | replace({"\\\n":''}) | replace({"<a href='":'<a href="'}) | replace({"'>":'">'}) | raw }}</span>
                    </div><!-- END description -->
                </div><!-- END js_item -->
                <div class="js_photo_link photo_link">
                    <span class="js_fill_photo-link"></span>
                    <!-- PAUSED Until I've got more time
                    <a href="mailto:corinna@finding-marbles.com?subject=Photos%20for%20Activity%3A%20ID&body=Hi%20Corinna%21%0D%0A%0D%0A[%20]%20Photo%20is%20attached%0D%0A[%20]%20Photo%20is%20online%20at%3A%20%0D%0A%0D%0ABest%2C%0D%0AYour%20Name" class="less_pronounced">
                        Add Photo                </a>
                    -->
                </div><!-- END .js_photo_link -->
            </div><!-- END .activity-content -->
            <a href="JavaScript:Next" class="js_phase-stepper phase-stepper js_next_button display_table-cell"
               title="Show other activity for this phase">►</a>
        </div><!-- END .activity-wrapper -->
    </div>
    {% endfor %}
</div>