{% extends 'base.html.twig' %}

{% block title %}Plan Title Experiment: All IDs{% endblock %}

{% block body %}
    <h1>Plan Title Experiment</h1>
    <ul>
        <li>Input is read from <i>backend/app/config/retromat_plan_titles.yml</i></li>
        <li>The <a href="https://moz.com/learn/seo/title-tag">limit of 50-60 characters</a> is not enforced yet, still
            need to extract the ones we can really use.
        </li>
        <li>Total number of combinations: {{ totalCombinations }}
    </ul>
    <h2>Sequences available</h2>
    {% for id,sequence in titleParts.sequence_of_groups %}
        <a href="{{ path('titles-experiment-sequence', {sequenceId: id}) }}">{{ id }}</a>
    {% endfor %}
    <h2>{{ combinationsInSequence }} combinations generated from Sequence: {{ sequenceId }}</h2>
    <table>
        <tr>
            <th style="text-align: left;">Title ID</th>
            <th style="text-align: left;">&nbsp;&nbsp;Length</th>
            <th style="text-align: left;">Title</th>
        </tr>
        {% for id in ids %}
            <tr>
                <td>{{ id }}</td>
                <td style="text-align: center;">{{ title_renderer.render(id)|length }}</td>
                <td>{{ title_renderer.render(id) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

