{% extends 'base.html.twig' %}

{% set pageTitle = 'Plan Title Experiments' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    <h1>{{ pageTitle }}</h1>
    <ul>
        <li>Generate and show <a href="{{ path('titles-experiment-sequence', {sequenceId: 0}) }}">titles from each
                sequence</a> (this can take several seconds, total combinations: {{ totalCombinations }})
        </li>
        <li>Generate and show <a href="{{ path('titles-experiment-planids', {skip: 0, max: 1000}) }}">titles for each
                plan id</a> (very quick)
        </li>
    </ul>
{% endblock %}

