<!DOCTYPE html>
<html lang="en">
<head>
    <title>Retromat Books</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"> 

    <link rel="stylesheet" type="text/css" href="/static/retromat.css" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//retromat.org/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '3']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body class="page">

{% include 'topnavi.html.twig' ignore missing  %}

    <div class="pitch">
        <div class="content">
            <div class="inner font-serif">
                <h1>Retromat Books</h1>
            </div>
        </div>
    </div>

    <div class="bg3">
        <div class="content">
            <div class="inner">
                There are 3 Retromat books – 2 eBooks and 1 physical book. Let's see if one of them fits the bill for you and helps you reach the next level as a facilitator:
            </div>
        </div>
    </div>

    <div class="bg0">
        <div class="content">
            <div class="inner two-col">
                <div style="width: 210px; flex: none">
                    <a href="{{ path('ebook') }}">
                    <img src="/static/images/ebook/book-cover_all-activities-from-retromat.jpg" width="180" height="250"></a>
                </div>
                <div style="flex: 2">
                    <h3><a href="https://leanpub.com/b/retromat-bundle-agile-retrospectives" target="_blank">The eBooks</a></h3>
                    
                    New in 2020: "<a href="/blog/new-book-15-plans-for-retrospectives/">Plans for Retrospectives</a>" helps beginners learn the lay of the land with tried-and-true plans. 
                    <br><br>
                    Once you know your way around, "<a href="{{ path('ebook') }}">Run great agile retrospectives</a>" contains all 135+ activities in Retromat for you to mix and match. 
                    It's perfect for seeing the full range of ideas out there.
                    <br><br>
                    Both sound great? 
                    <a href="https://leanpub.com/b/retromat-bundle-agile-retrospectives" target="_blank">
                     Check out the Retromat eBook Bundle!
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="bg1">
        <div class="content">
            <div class="inner two-col">
                <div style="width: 210px; flex: none;">
                    <a href="{{ path('print') }}">
                        <img src="/static/images/print/retromat_fan.png" width="142" height="252" style="margin-left: 20px">
                    </a>
                </div>
                <div style="flex: 2">
                    <h3><a href="{{ path('print') }}">The Print Edition</a></h3>
                    
                    This – real, physical – book lets you flip through and combine 50 activities from Retromat. It's perfect for getting inspired by its playfulness or for intriguing others to check it out.
                    <br><br>
                    <a href="{{ path('print') }}">
                    More about the Retromat Print Edition
                    </a>
                </div>
            </div>
        </div>
    </div>



<div class="about">
    <div class="content">
        <div class="inner font-serif">
                <h3>Any questions?</h3>
                You can contact Corinna Baldauf <a href="mailto:corinna@retromat.org">via email</a> or
                <a href="https://twitter.com/corinnabaldauf">Twitter</a>.
        </div>
    </div>
</div>

{% include 'footer.html.twig' ignore missing  %}

<!-- Matomo -->
<noscript><img src="//retromat.org/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></noscript>
<!-- End Matomo Code -->
</body>
</html>
