{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif"/>
    <link rel="stylesheet" type="text/css" href="/static/team-v2.css">
{% endblock %}

{% block body %}
    <span class="topline smaller"><a href="{{ path('team_activity_index') }}">&lt; List</a></span>
    <div class="mainContent">
        <h1>{% if create %}Create{% else %}Edit{% endif %}
            Activity{% if 'en' != app.request.locale %} Translation {{ app.request.locale|upper }}{% endif %}:
            {{ activity2.retromatId }}</h1>
        {% if not create %}
            Keep a local copy of your translation: <strong>There is no
            &quot;undo&quot;!</strong>
            <br>
            <br>
        {% endif %}
        {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}

        {{ form_label(edit_form.retromatId, 'Id: ') }}
        {{ form_errors(edit_form.retromatId) }}
        {{ form_widget(edit_form.retromatId, {'attr': {'class': 'idField'}}) }}
        {% if 'en' != app.request.locale %}
            <a target="_blank" href="{{ path('activities_by_id', { 'id': activity2.retromatId, '_locale': 'en' }) }}">View
                English live version &quot;{{ activity2.translate('en').getName() }}&quot;</a>
        {% endif %}
        {% if 'en' == app.request.locale %}
            <br>
            <br>
            {{ form_label(edit_form.phase) }}
            <br>
            {{ form_errors(edit_form.phase) }}
            {{ form_widget(edit_form.phase) }}
        {% endif %}
        <br>
        <br>
        {{ form_label(edit_form.name) }}
        <br>
        {{ form_errors(edit_form.name) }}
        {{ form_widget(edit_form.name, {'attr': {'cols': 80, 'rows': 1, }}) }}
        <br>
        <br>
        {{ form_label(edit_form.summary) }}
        <br>
        {{ form_errors(edit_form.summary) }}
        {{ form_widget(edit_form.summary, {'attr': {'cols': 80, 'rows': 1, }}) }}
        <br>
        <br>
        {{ form_label(edit_form.desc) }}
        <br>
        {{ form_errors(edit_form.desc) }}
        {{ form_widget(edit_form.desc, {'attr': {'class': 'description', 'cols': 80, 'rows': 10, }}) }}
        {% if 'en' == app.request.locale %}
            <br>
            <br>
            {{ form_label(edit_form.duration) }}
            <br>
            {{ form_errors(edit_form.duration) }}
            {{ form_widget(edit_form.duration, {'attr': {'class': 'shorter', 'cols': 80, 'rows': 1, }}) }}
            <br>
            <br>
            {{ form_label(edit_form.source) }}
            <br>
            {{ form_errors(edit_form.source) }}
            {{ form_widget(edit_form.source, {'attr': {'cols': 80, 'rows': 1, }}) }}
            <br>
            <br>
            {{ form_label(edit_form.more) }}
            <br>
            {{ form_errors(edit_form.more) }}
            {{ form_widget(edit_form.more, {'attr': {'cols': 80, 'rows': 1, }}) }}
            <br>
            <br>
            {{ form_label(edit_form.stage) }}
            <br>
            {{ form_errors(edit_form.stage) }}
            {{ form_widget(edit_form.stage, {'attr': {'class': 'shorter', 'cols': 80, 'rows': 1, }}) }}
            <br>
            <br>
            {{ form_label(edit_form.suitable) }}
            <br>
            {{ form_errors(edit_form.suitable) }}
            {{ form_widget(edit_form.suitable, {'attr': {'class': 'shorter', 'cols': 80, 'rows': 1, }}) }}
        {% endif %}
        <br>
        <br>
        &quot;Publish&quot; pushes your changes to the live version and displays a preview for you. Browser caches keep
        the old version for up to 10
        minutes.{% if create %} You can delete the latest activity on the activity list.{% endif %}
        <br>
        <br>
        <input type="submit" value="Publish"/>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
