{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif"/>
    <link rel="stylesheet" type="text/css" href="/static/team-v2.css">
{% endblock %}

{% block body %}
    <span class="topline smaller"><a href="{{ path('team_activity_index') }}">&lt; List</a></span>
    <div class="mainContent">
        <h1>Edit Activity{% if 'en' != app.request.locale %} Translation {{ app.request.locale|upper }}{% endif %}:
            {{ activity2.retromatId }}</h1>

        Keep a local copy of your translation: <strong>There is no &quot;undo&quot;!</strong>
        <br>
        <br>
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Update"/>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
