{% extends 'base.html.twig' %}

{% form_theme edit_form 'form_table_layout.html.twig' %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('team_activity_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <h1>Edit Activity ({{ app.request.locale }}): {{ activity2.getName }}</h1>
    <ul>
        <li>Click &quot;Update&quot; (below the form), to publish your changes.</li>
        <li>Follwing your update you will immediately see a preview. Browser caches keep the old version for up to 10 minutes.</li>
        <li>If unsure, keep a local copy of activities you edit until you like the result, because:</li>
        <li>There is no &quot;undo&quot; button!</li>
    </ul>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Update" />
    {{ form_end(edit_form) }}
{% endblock %}
