{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ path('team_dashboard', {'_locale': 'en'}) }}">Back to the dashboard</a></li>
    </ul>
    <h1>Activities ({{ app.request.locale }})</h1>
    <ul>
        <li>
            <a href="{{ path('team_activity_new') }}">Create a new activity</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete the last activity"> (instant, no undo)
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <table style="border-spacing: 10px;">
        <thead>
        <tr align="left">
            <th>Id</th>
            <th style="width: 150px;">Actions</th>
            <th>Phase</th>
            <th>Name</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        {% for activity2 in activity2s|reverse %}
            <tr>
                <td align="right">{{ activity2.retromatId }}</td>
                <td>
                    <a href="{{ path('team_activity_edit', { 'id': activity2.id }) }}">edit</a> |
                    <a href="{{ path('team_activity_show', { 'id': activity2.id }) }}">preview</a> |
                    <a href="{{ path('activities_by_id', { 'id': activity2.retromatId }) }}" target="_blank">public</a>
                </td>
                <td align="center">{{ activity2.phase }}</td>
                <td>{{ activity2.getName }}</td>
                <td>{{ activity2.getSummary }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
