{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/static/team.css">
{% endblock %}

{% form_theme form 'form_table_layout.html.twig' %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('team_activity_index') }}">Back to the list</a>
        </li>
    </ul>
    <h1>
        {% if 'en' == app.request.locale %}
            Create New Activity
        {% else %}
            Create Activity Translation {{ app.request.locale|upper }}:
            {{ activity2.retromatId }}
        {% endif %}
    </h1>
    <ul>
        <li>Translation for activity {{ activity2.retromatId }}: <a
                    target="_blank"
                    href="{{ path('activities_by_id', { 'id': activity2.retromatId, '_locale': 'en' }) }}">{{ activity2.translate('en').getName() }}</a>
        </li>
        <li>Click "Create" (below the form), to publish your new
            activity{% if 'en' != app.request.locale %} translation{% endif %}.
        </li>
        <li>Following creation you will immediately see a preview. Browser caches keep the old versions of activity
            pages for up to 10 minutes.
        </li>
    </ul>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create"/>
    {{ form_end(form) }}
{% endblock %}
