{% extends 'team/base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <h1>{% if 'en' == app.request.locale %}
            Activity List
        {% else %}
            Activity Translations List: {{ app.request.locale|upper }}
        {% endif %}
    </h1>

    <ul>
        <li>
            {% if 'en' == app.request.locale %}
                <a href="{{ path('team_activity_new') }}">Create new activity</a>
            {% else %}
                <a href="{{ path('team_activity_new') }}">Create next activity translation</a>
                This fails when there is no "next" activity left to be translated ;-)
            {% endif %}
        </li>
        {% if(is_granted('ROLE_ADMIN') and 'en' == app.request.locale) %}
            <li>
                Deleting activities is off in the UI at this point.
                 Dear Admin: If you created one by accident, please use <a href="https://mysql.uberspace.de/phpmyadmin/">PHPMyadmin</a> as
                described <a href="https://manual.uberspace.de/database-mysql/">here</a>.
            </li>
        {% endif %}
    </ul>

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>RetromatId</th>
            <th>Name</th>
            <th>Summary</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.retromatId }}</td>
                <td>{{ activity.name }}</td>
                <td>{{ activity.summary }}</td>
                <td>
                    <a href="{{ path('team_activity_edit', {'id': activity.id}) }}">edit</a>
                    <a href="{{ path('activities_by_id', { 'id': activity.retromatId }) }}" target="_blank">live</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no activities found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
