<!DOCTYPE html>
<html lang="en">
<head>
    <title>Retromat Books</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"> 

    <link rel="stylesheet" type="text/css" href="/static/retromat.css?v=2" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//retromat.org/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '3']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body class="page">

{% include 'topnavi.html.twig' ignore missing  %}

    <div class="pitch">
        <div class="content">
            <div class="inner font-serif">
                <h1>Retromat Books</h1>
            </div>
        </div>
    </div>

    <div class="bg3">
        <div class="content">
            <div class="inner">
                Let's see what can help you reach the next level in facilitating retrospectives:
            </div>
        </div>
    </div>

    <div class="bg0">
        <div class="content">
            <div class="inner two-col">
                <div style="width: 210px; flex: none">
                    <a href="{{ path('ebook') }}">
                    <img src="/static/images/ebook/book-cover_all-activities-from-retromat.jpg" width="180" height="250"></a>
                </div>
                <div style="flex: 2">
                    <h3><a href="https://leanpub.com/b/retromat-bundle-agile-retrospectives" target="_blank">The eBook Bundle</a></h3>
                    
                    "<a href="/blog/new-book-15-plans-for-retrospectives/">Plans for Retrospectives</a>" is for beginners to get started with tried-and-true plans. 
                    <br><br>
                    Once you know your way around, "<a href="{{ path('ebook') }}">Run great agile retrospectives</a>" contains all 135+ activities in Retromat for you to mix and match. It's perfect for seeing the full range of ideas out there.
                    <br><br>
                    Both sound great? 
                    <a href="https://leanpub.com/b/retromat-bundle-agile-retrospectives" target="_blank">
                     Check out the Retromat eBook Bundle – and get "Asking for a better future" on top
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="bg1">
        <div class="content">
            <div class="inner two-col">
                <div style="width: 210px; flex: none;">
                    <a href="{{ path('print') }}">
                        <img src="/static/images/print/retromat_fan.png" width="142" height="252" style="margin-left: 20px">
                    </a>
                </div>
                <div style="flex: 2">
                    <h3><a href="{{ path('print') }}">The Print Edition</a></h3>
                    
                    Physically flip through and combine 50 activities from Retromat. It's perfect for getting inspired by its playfulness or for intriguing others to check it out.
                    <br><br>
                    <a href="{{ path('print') }}">
                    More about the Retromat Print Edition
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="bg4">
        <div class="content">
            <div class="inner two-col">
                <div style="width: 210px; flex: none;">
                    <a href="/blog/retromat-miroboard-mega-template/">
                        <img src="/static/images/miroboard/Retromat-Miroboard-Mega-Template.jpg" width="180" height="108"></a>
                    </a>
                </div>
                <div style="flex: 2">
                    <h3><a href="/blog/retromat-miroboard-mega-template/">Retromat Miroboard Mega Template</a></h3>
                    
                    Admitted, this is not a book. But if you're using Miro for your retrospectives ...
                    <br><br>
                    <a href="/blog/retromat-miroboard-mega-template/">
                    Check out the Miroboard Mega Template
                    </a>
                </div>
            </div>
        </div>
    </div>


<div class="about">
    <div class="content">
        <div class="inner font-serif">
                <h3>Any questions?</h3>
                You can contact Corinna Baldauf <a href="mailto:corinna@retromat.org">via email</a> or
                <a href="https://twitter.com/corinnabaldauf">Twitter</a>.
        </div>
    </div>
</div>

{% include 'footer.html.twig' ignore missing  %}

<!-- Matomo -->
<noscript><img src="//retromat.org/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></noscript>
<!-- End Matomo Code -->
</body>
</html>
