{% extends 'base.html.twig' %}

{% block body %}
    <h1>Activity list</h1>

    <table>
        <thead>
            <tr>
                <th>Doctrineid</th>
                <th>Retromatid</th>
                <th>Language</th>
                <th>Phase</th>
                <th>Name</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td><a href="{{ path('activity_show', { 'id': activity.doctrineId }) }}">{{ activity.doctrineId }}</a></td>
                <td>{{ activity.retromatId }}</td>
                <td>{{ activity.language }}</td>
                <td>{{ activity.phase }}</td>
                <td>{{ activity.name }}</td>
                <td>{{ activity.summary }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('activity_show', { 'id': activity.doctrineId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('activity_edit', { 'id': activity.doctrineId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('activity_new') }}">Create a new activity</a>
        </li>
    </ul>
{% endblock %}
